{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb-base"
  ],
  "plugins": ["jest"],
  "parserOptions": { "ecmaVersion": 2021 },
  "env": { "es6": true, "jest/globals": true },
  "rules": {
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-console": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "consistent": true },
        "ObjectPattern": { "multiline": true, "consistent": true },
        "ImportDeclaration": { "multiline": true, "consistent": true },
        "ExportDeclaration": { "multiline": true, "consistent": true }
      }
    ]
  }
}
